@import '../base/variables';

* {
    font-family: $appFontFamily;
}

h1 {
    text-align: center;

    @media (max-width: map-get($media, "verySmall")){
        margin: $h1SmallScreenMargin;
        font-size: map-get($fontSize, "h1Small");
    }
}

a {
    color: $black;
    text-decoration: none;
}