@import '../base/variables';
@import '../base/mixins';

//TODO - Use more features of Scss -
//1. Scss shortcat of properties
//2. Scss mixins
//3. Scss variables
//4. Scss functions
//5. Sass Project Structure
//6. Migrate all colors to variables

.mainMenu {
    height: $menuHight;

    @include flex(false, $justifyContentDefault, center);

    font-size: 16px;

    p {
        margin-left: 20px;
        padding: 5px;
    }

    @media (max-width: 650px) {
        font-size: 12px;
    }

    .toggleButton {
        width: 80px;
        margin: 0 10px;
        padding: 8px;
        cursor: pointer;
        border: none;

        &:focus {
            outline: none;
        }

        &:hover {
            color: rgba(map-get($buttonColors, "darkBase"), .7);
        }

        &.darkToggleButton {
            @include theme("light", "dark", "darkBase");
        }

        &.lightToggleButton {
            @include theme("dark", "light", "lightBase");
        }
    }

    .rightMenu {
        margin-left: auto;

        .linkItem {
            padding: 1rem;

            @media (max-width: 650px) {
                padding: 1.1rem;
            }

            &.lightLinkItem {
                color: $black;

                &.active, &:hover {
                    background: map-get($colors, "gray");
                }
            }

            &.darkLinkItem {
                color: $white;

                &.active, &:hover {
                    color: $black;
                    background: $white;
                }
            }
        }
    }
}