@import '../base/variables';
@import '../base/mixins';

.mainMenu {
    height: $menuHight;

    @include flex(false, false, center);

    font-size: $fontSizeLarge;

    @media (max-width: 650px) {
        font-size: $fontSizeSmall;
    }

    .slugTitle {
        p {
            margin-left: map-get($slugTitle, "marginLeft");
            padding: map-get($slugTitle, "padding");
        }
    }

    .toggleButton {
        @include button($toggleButtonWidth, 0 10px, 8px, none, false);

        &:focus {
            outline: none;
        }

        &:hover {
            color: rgba(map-get($buttonColors, "darkBase"), .7);
        }

        &.darkToggleButton {
            @include theme("light", "dark", "darkBase");
        }

        &.lightToggleButton {
            @include theme("dark", "light", "lightBase");
        }
    }

    .rightMenu {
        margin-left: auto;

        .linkItem {
            padding: 1rem;

            @media (max-width: 650px) {
                padding: 1.1rem;
            }

            &.lightLinkItem {
                color: $black;

                &.active, &:hover {
                    background: map-get($colors, "gray");
                }
            }

            &.darkLinkItem {
                color: $white;

                &.active, &:hover {
                    color: $black;
                    background: $white;
                }
            }
        }
    }
}