@import '../base/variables';
@import '../base/mixins';

.mainMenu {
    height: $menuHight;

    @include flex(false, false, center);

    font-size: map-get($fontSize, "large");

    .slugTitle {
        p {
            margin-left: map-get($slugTitle, "marginLeft");
            padding: map-get($slugTitle, "padding");
        }
    }

    .toggleButton {
        @include button($toggleButtonWidth, 0 10px, 8px, none, false);

        &:hover {
            color: rgba(map-get($buttonColors, "darkBase"), .7);
        }

        &:focus {
            outline: none;
        }

        &.darkToggleButton {
            @include theme($white, $black, "darkBase");
        }

        &.lightToggleButton {
            @include theme($black, $white, "lightBase");
        }
    }

    .rightMenu {
        margin-left: auto;

        .linkItem {
            padding: 1rem;

            &.lightLinkItem {
                color: $black;

                &:hover, &.active {
                    background: $lightGray;
                }
            }

            &.darkLinkItem {
                color: $white;

                &:hover, &.active {
                    color: $black;
                    background: $white;
                }
            }

            @media (max-width: map-get($media, "medium")) {
                padding: 1.1rem;
            }
        }
    }

    @media (max-width: map-get($media, "medium")) {
        font-size: map-get($fontSize, "small");
    }
}