@import '../base/variables';
@import '../base/mixins';
@import '../modules/animations';

.darkContainer {
    background: $black;
    color: $white;

    animation: {
        name: darkContainer;
        duration: 1s;
    }

    .cardItem {
        a {
            color: $white;
        }
    }
}

.pageContainer {
    width: 95vw;
    height: 100%;
    min-height: 100vh;

    form {
        @include flex(column, center, center);

        i {
            margin-right: $iconMargin;
        }

        .autocompleteInput {
            @include flex(column, false, false);

            input {
                width: $inputWidthLarge;
                height: $inputHeight;
                margin-top: 10px;
                padding: 5px;

                border: 1px solid rgba($baseInputBorderColor, .15) {
                    radius: .2rem;
                }

                &:focus {
                    outline: none;
                    border: 1px solid rgba($baseInputBorderColor, .30);
                }

                @media (max-width: map-get($media, "medium")) {
                    width: $inputWidthSmall;
                }
            }

            .autocompleteItems {
                border: 1px solid $grayBorder {
                    top: none;
                }

                &.lightAutocomplete:hover {
                    background: $blueBackground;
                }

                &.darkAutocomplete:hover {
                    background: $darkGray;
                }

                &.autocompleteActive, &.autocompleteActive:hover {
                    background-color: $dodgerBlue;
                    color: $white;
                }
            }
        }

        .errorToast {
            margin-top: 5px;
            padding: 10px;
            background: $white;
            color: $red;
            font-weight: $bold;

            border: 1px solid red {
                radius: 2px;
            }

            box-shadow: $boxShadow;

            animation: toastOpacity {
                duration: .5s;
            }

            &.darkErrorToast {
                background: red;
                color: $white;
            }
        }
    }

    .singleCityCard {
        p {
            margin-left: map-get($slugTitle, "marginLeft");
        }
    }

    .favoritesButtonContainer {
        float: right;

        i {
            margin: $iconMargin;
        }

        .favoritesButton {
            @include button(false, 5px 20px 0 0, 10px, false, 2px);

            &:focus {
                outline: none;
            }

            &.darkFavoritesButton {
                @include favoriteButtonTheme("darkBase", $white, "lightBase");
            }

            &.lightFavoritesButton {
                @include favoriteButtonTheme("lightBase", $black, "darkBase");
            }

            @media (max-width: map-get($media, "small")) {
                padding: 5px;
            }
        }
    }

    .cardsContainer {
        @include flex(row wrap, space-around);

        .cardItem {
            width: $cardWidth;
            margin: 20px 0;

            @include flex(column wrap, false, center);

            h3, p {
                margin: 10px;
                font-weight: unset;
            }

            a {
                font-weight: $bold;

                &:hover {
                    text-decoration: underline;
                }
            }

            .favoriteHeader {
                margin-bottom: 10px;

                @include flex(column wrap, false, center);
            }

            .dayTitle {
                font-weight: $bold;
            }
        }
    }

    @media (max-width: map-get($media, "verySmall")){
        min-width: 110vw;
    }
}