@import 'variables';

// Themes
@mixin theme($backgroundColor, $color, $hoverColor){
    background: $backgroundColor;
    color: $color;

    &:hover {
        color: rgba(map-get($buttonColors, $hoverColor), .7);
    }
}

// Buttons
@mixin favoriteButtonTheme($backgroundColor, $color, $hoverColor){
    background: rgba(map-get($buttonColors, $backgroundColor), .8);
    color: $color;
    border: 1px solid $color;

    &:hover {
        color: rgba(map-get($buttonColors, $hoverColor), .7);
    }
}

@mixin button($width, $margin, $padding, $border, $borderRadius){
    margin: $margin;
    padding: $padding;
    cursor: pointer;

    @if($width){
        width: $width;
    }

    @if($border){
        border: $border;
    }

    @if($borderRadius){
        border-radius: $borderRadius;
    }
}

// Others
@mixin flex($flow, $justifyContent, $alignItems: flex-start){
    display: flex;

    @if $flow {
        flex-flow: $flow;
    }

    @if($justifyContent){
        justify-content: $justifyContent;
    }

    @if($alignItems){
        align-items: $alignItems;
    }
}