// Font Properties
$appFontFamily: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$bold: 700;
$fontSizeLarge: 16px;
$fontSizeSmall: 12px;
$h1FontSizeSmall: 26px;

// Colors
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$grayBorder: rgba(212, 212, 212, 1);
$darkGray: rgba(169, 169, 169, 1);
$blueBackground: rgba(233, 233, 233, 1);
$dodgerBlue: rgba(30, 144, 255, 1);
$red: rgba(240, 52, 52, 1);

// Map Colors
$colors: (
        "light": rgba(255, 255, 255, 1),
        "dark": rgba(0, 0, 0, 1),
        "gray": rgba(34, 46, 38, .15)
);

$inputColors: (
        "base": rgb(34, 36, 38)
);

$buttonColors: (
        "lightBase": rgb(255, 255, 255),
        "darkBase": rgb(0, 0, 0)
);

// Slug Title
$slugTitle: (
        "marginLeft": 20px,
        "padding": 5px
);

// Sizes
$menuHight: 50px;
$cardWidth: 250px;

// Input
$inputWidthLarge: 400px;
$inputWidthSmall: 342px;
$inputHeight: 30px;

// Others
$toggleButtonWidth: 80px;
$iconMargin: 7px;
$boxShadow: rgba(207, 0, 15, .2) .5px .5px 5px;

// Media
$medium: 650px;
$small: 550px;
$verySmall: 450px;