// Font Properties
$appFontFamily: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$bold: 700;

$fontSize: (
        "large": 16px,
        "small": 12px,
        "h1Small": 26px
);

// Colors
$baseInputBorderColor: rgb(34, 36, 38);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$grayBorder: rgba(212, 212, 212, 1);
$lightGray: rgba(34, 46, 38, .15);
$darkGray: rgba(169, 169, 169, 1);
$blueBackground: rgba(233, 233, 233, 1);
$dodgerBlue: rgba(30, 144, 255, 1);
$red: rgba(240, 52, 52, 1);

// Map Colors
$buttonColors: (
        "lightBase": rgb(255, 255, 255),
        "darkBase": rgb(0, 0, 0)
);

// Slug Title
$slugTitle: (
        "marginLeft": 20px,
        "padding": 5px
);

// Sizes
$menuHight: 50px;
$cardWidth: 250px;

// Input
$input: (
        "widthLarge": 400px,
        "widthSmall": 342px,
        "height": 30px
);

// Media
$media: (
        "medium": 650px,
        "small": 550px,
        "verySmall": 450px
);

// Others
$toggleButtonWidth: 80px;
$iconMargin: 7px;
$boxShadow: rgba(207, 0, 15, .2) .5px .5px 5px;
$h1SmallScreenMargin: 0 20px;