$colors: (
        "light": rgba(255, 255, 255, 1),
        "dark": rgba(0, 0, 0, 1),
        "gray": rgba(34, 46, 38, .15)
);

$inputColors: (
        "base": rgb(34, 36, 38)
);

$buttonColors: (
        "lightBase": rgb(255, 255, 255),
        "darkBase": rgb(0, 0, 0)
);