//TODO - Improve list design
.cardsContainer {
    display: flex;

    .cardItem {
        width: 200px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 10px;
        }

        a {
            color: black;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
        }

        //TODO - Add same animation here
        &.dark {
            a {
                color: white;
            }
        }

        .cardHeader {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}