* {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.cardsContainer {
    display: flex;

    .cardItem {
        width: 200px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 10px;
        }

        a {
            color: rgba(65, 131, 207, 1);
            text-decoration: none;

            &:hover {
              color: rgba(65, 131, 207, .8);
            }
        }

        .cardHeader {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}