* {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.mainMenu {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;

    p {
        margin-left: 20px;
        padding: 5px;
    }

    @media (max-width: 650px) {
        font-size: 12px;
    }

    .toggleButton {
        width: 80px;
        margin: 0 10px;
        padding: 8px;
        cursor: pointer;
        border: none;

        &:focus {
            outline: none;
        }

        &:hover {
            color: rgba(0, 0, 0, .7);
        }

        &.darkToggleButton {
            background: rgba(255, 255, 255, 1);;
            color: rgba(0, 0, 0, 1);

            &:hover {
                color: rgba(0, 0, 0, .7);
            }
        }

        &.lightToggleButton {
            background: rgba(0, 0, 0, 1);
            color: rgba(255, 255, 255, 1);

            &:hover {
                color: rgba(255, 255, 255, .7);
            }
        }
    }

    .rightMenu {
        margin-left: auto;

        .linkItem {
            padding: 1rem;

            @media (max-width: 650px) {
                padding: 1.1rem;
            }

            &.lightLinkItem {
                color: black;

                &.active, &:hover {
                    background: rgba(34, 46, 38, .15);
                }
            }

            &.darkLinkItem {
                color: white;

                &.active, &:hover {
                    color: black;
                    background: white;
                }
            }
        }
    }
}