@import '/base/variables';
@import '/components/header';
@import '/components/pages';

* {
    font-family: $appFontFamily;
}

h1 {
    text-align: center;
}

a {
    color: $black;
    text-decoration: none;
}